[submodule "assemblyscript"]
	path = assemblyscript
	url = git@github.com:nearprotocol/assemblyscript.git
[submodule "assemblyscript-json"]
	path = assemblyscript-json
	url = git@github.com:WebAssemblyOS/assemblyscript-json.git
[submodule "near-runtime-ts"]
	path = near-runtime-ts
	url = git@github.com:willemneal/near-runtime-ts.git
[submodule "near-shell"]
	path = near-shell
	url = git@github.com:willemneal/near-shell.git
[submodule "NEARStudio"]
	path = NEARStudio
	url = git@github.com:willemneal/NEARStudio.git
[submodule "near-bindgen-as"]
	path = near-bindgen-as
	url = git@github.com:nearprotocol/near-bindgen-as.git
[submodule "near-hello"]
	path = near-hello
	url = git@github.com:willemneal/near-hello.git